<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complication - sensor WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Glance - sensor WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - sensor WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>sensor WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sensor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3A2CF401B7F185F0013AAD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A2CF541B7F185F0013AAD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A2CF5F1B7F185F0013AAD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A2CF681B7F185F0013AAD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
